@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700;8..144,800&display=swap');

* {
	margin: 0;
	padding: 0;
	
}

.coin-percent {
  width:110px;
}
.red{
  color: rgb(255, 0, 0);
}
.green{
  color: rgb(14, 219, 14);
}

.titre{
  
  font-family: 'Roboto Flex', sans-serif;
  font-size: 26px;
  
  color: rgb(0, 0, 0);
  
}

.sous-titre {
  margin: 20px 0px;
  text-align: center;
  font-style: italic;
  color: rgb(190, 189, 189);
}
.phrase{
  font-family: 'Inter, sans-sherif';
  font-size: 21px;
  margin-top: 15px;
  font-style: italic;
  color:rgb(0, 0, 0)
}
.sous_phrase{
  font-family:Georgia, serif;
  font-size: 19px;
  margin-bottom: 10px;
  font-style: italic;
font-weight: bolder;}

.go{
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  font-weight: 1000px;
}
.next{
size: 1000px;
}

img{
  max-width : 200px;
  max-height : 150px;
}
.sp{
color: blanchedalmond;
text-decoration: underline;
font-style: italic;
display: flex;
justify-content: flex-end;
}
.box{
  margin-bottom: 25px;
}
.la{
  color:rgb(206, 188, 161)
}
.buttonTuto{
  display: flex;
justify-content: flex-end;
}
.inter{
  font-family: 'Inter, sans-sherif';
}

#subtitle {
  
  color: white;
  font-size: 25px;
  margin-top: -15px;
  font-style: italic;
}
#subtitleLexique{
  color: white;
  font-size: 22px;
  margin-top: -5px;
  
}
#tkt{
  display:initial ;

   border-bottom: '0.25rem solid blue';
}
#hideMeAfter5Seconds {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}

#im:hover{
  transition: transform .3s;
  -ms-transform: scale(2.0); /* IE 9 */
  -webkit-transform: scale(2.0); /* Safari 3-8 */
  transform: scale(2.5);
}
#im2:hover{
  transition: transform .3s;
  -ms-transform: scale(2.0); /* IE 9 */
  -webkit-transform: scale(2.0); /* Safari 3-8 */
  transform: scale(1.5);
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}